@import 'fonts';
@import 'enketo/formhub';
//@import 'enketo/formhub-print';
@import 'vendor/v-accordion';
@import 'vendor/toastr';
@import 'vendor/intro';
@import 'font-awesome/scss/font-awesome.scss';

html, body {
    margin: 0;
    padding: 0;
}

.noScroll {
    overflow-y:hidden;
    height: 100%;
}

a {
    color: #1a90cc;
}

a:hover,
a:focus {
    color: #116088;
}

.form-footer .disabled {
    display: none;
}

#loading-block {    
    background-color: #246AA6;
    color: white;
    z-index: 3000; 
    text-align: center;
}

.form-header button, .form-header a {
    padding: 12px;
    background-color: #e4e4e4;
    border-radius: 4px;
}

@media screen and (max-width: 480px) {
    .form-header button, .form-header a {
        padding: 6px;
        background-color: #e4e4e4;
        border-radius: 4px;
        font-size: 11px;
        margin-left:2px;
    }
    .form-header h3 {
        font-size: 12pt !important;
    }
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,0.95);
    padding: 50px;
    margin: 0;
    color: #333;
    z-index: 1900;
}

#submit-progress {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#jump-to-block > .wrapper {
    position:relative;
}

#jump-to-header {
    position: fixed;
    display: flex;
    top: 0;
    left: 0px;
    right: 0px;
    padding: 0px 50px;
    background-color: #f4f4f4;
    z-index: 1901;
}

#jump-to-header > h3 {
    flex: 1;
}

#jump-to-body {
    margin-top:50px;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;    
}

#jump-to-block ul {
    margin: 0px;
    padding: 0px;
}

#jump-to-block ul li {
    list-style: none;
    padding: 8px;
    margin: 8px;
    background-color: #f4f4f4;
    border: 1px solid #d4d4d4;
}

#jump-to-block ul a {
    color: #333;
}

#jump-to-close {
    float: right;
    padding-top: 5px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #666;
}

#jump-to-close > i {
    margin-right: 4px;
}

.jump-to-button {
    color: #fff;
    background-color: #246AA6;
    display: block;
    padding: 8px;
    text-decoration: none;    
}

.jump-to-button:hover,.jump-to-button:active {
    color: #fff;
    background-color: #34A0CF;
}

.form-header {
    display: none;
    top: 0;
    position: fixed;
    z-index: 1600;
    background-color: #fff;
    padding: 8px 16px;
    border-bottom: 1px solid #bbbbbb;
    overflow: hidden;
    width: 100% !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    min-height: auto !important;
}


.form-header h3 {    
    padding-top: 6px !important;
    margin: 0 !important;
    font-size: 16pt;
    max-height: 1.6em;
    overflow: hidden;
}

.form-footer__jump-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1600;
    height: 45px;
    width: 100%;
}

img {
    margin-left: auto !important;
    margin-right: auto !important;
}


/**
Vue.js Modal
*/

.modal-mask {
    position: fixed;
    overflow: auto;
    z-index: 9998;
    top: 0;
    left: 0;
    bottom:0;
    right:0;
    width:100%;
    height:100%;
    background-color: rgba(0, 0, 0, .6);
    transition: opacity .3s ease;
}

.modal-container {
    width:90%;
    max-width: 600px;
    margin: 15% auto;
    padding: 20px 30px;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
    transition: all .3s ease;
    font-family: Helvetica, Arial, sans-serif;
}

.modal-header h3 {
    margin-top: 0;
    color: #42b983;
}

.modal-body {
    margin: 20px 0;
}

.modal-default-button {
    float: right;
}


/*
 * the following styles are auto-applied to elements with
 * v-transition="modal" when their visiblity is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

.modal-enter,
.modal-leave {
    opacity: 0;
}

.modal-enter .modal-container,
.modal-leave .modal-container {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.previous-sessions {
    width: 100%;
    padding-left: 0;
    list-style: none;
}

.previous-sessions li {
    margin-bottom: 6px;
}

.previous-sessions a {
    text-decoration: none;
}

.session-name {
    font-size: 15pt;
    font-weight: bold;
    color: #333;
}

.session-updated {
    color: #999;
    font-size: 12pt;
}

.sm-button {
    width: 44px;
    height: 44px;
    border: 1px solid #b4b4b4;
    border-radius: 4px;
}

.md-button {
    border: 1px solid #b4b4b4;
    border-radius: 4px;
    height: 44px;
    min-width: 80px;
}

h4 input[readonly]:not([type=radio]):not([type=checkbox]) {
    display: none;
}

.form-progress {
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    max-width: 100% !important;
    width: 34px;
    min-width: 34px !important;
    margin: 0;
    height: 3px;
    background-color: #246AA6;
    z-index: 1000;
    -webkit-transition: all 1s ease-out;
    transition: all 1s ease-out;
}

.main {
    max-width: 1200px;
    margin-top: 60px;
    padding: 0px 0 70px 0 !important;
}

.btn-primary {
    background-color: #1a90cc;
    border-color: #1780b5;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active {
    background-color: #1576a8;
    border-color: #105a7f;
}

.open .btn-primary.dropdown-toggle {
    background-color: #1576a8;
    border-color: #105a7f;
}

fieldset[disabled] .btn-primary:focus,
fieldset[disabled] .btn-primary:active,
fieldset[disabled] .btn-primary.active {
    background-color: #1a90cc;
    border-color: #1780b5;
}

.btn-primary .badge {
    color: #1a90cc;
}

.or > h3,
.or-group > h3 {
    color: #1a90cc;
}

.or > h4,
.or-group > h4 {
    color: #1a90cc;
}

.or-repeat {
    background-color: white;
}

button {
    border: 1px solid #e1e1e1;
    border-radius: 0;
    padding: 7px 12px;
}

button:hover {
    font-weight: bold;
}

.or-repeat .or-repeat .or-repeat {
    background-color: white;
}

.option-wrapper > label:hover:not(.filler) {
    background-color: #e9f6fc;
}

legend .required {
    color: #e00e0e;
}

/**
* This hides the orange collapse buttons that appear before section titles
*/
.or-group:not(.or-appearance-no-collapse)>h4::before {
    border: 0 !important;
}

#toast-container > div {
    opacity: 1;
}