<v-accordion class="vAccordion--default">
    <v-pane ng-repeat="(id, page) in page.items track by id" ng-if="page.label">
        <v-pane-header>
            {{ page.label }}
        </v-pane-header>
        <v-pane-content>
            <a href="javascript:void(0);" class="jump-to-button" ng-click="jump(page)">Jump To {{ page.label }}</a>

            <div ng-if="page.items">
                <ng-include src="'accordion.html'"/>
            </div>
        </v-pane-content>
    </v-pane>
</v-accordion>