<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
    <title>Submissions</title>
</head>

<body>

    <div class="container" ng-app="app" ng-controller="SubmissionsCtrl" ng-cloak="true">

        <div>
            <div class="pull-right">
                <button class="btn btn-primary" ng-click="uploadAll()">
                    <i class="fa fa-upload"></i> <span data-i18n="submissions.upload_all">Upload All</span>
                </button>
                <a href="index.html" class="btn btn-default">
                    <span data-i18n="submissions.back">Back</span> <i class="fa fa-arrow-right"></i>
                </a>
            </div>

            <h3 data-i18n="submissions.title"></h3>

        </div>

        <table class="table table-hover table-striped">
            <thead>
                <th data-i18n="submissions.name">Session Name</th>
                <th data-i18n="submissions.size">Size</th>
                <th data-i18n="submissions.created_at">Created At</th>
                <th width="20%"></th>
            </thead>
            <tbody id="packet-rows">

                <tr ng-repeat="packet in packets | orderBy:'-date'">
                    <td>{{ packet.name }}</td>
                    <td>{{ packet.size | fileSize }}</td>
                    <td>{{ packet.last_update | date }}</td>
                    <td>
                        <progress value="packet.progress" ng-if="packet.uploading"></progress>
                        <button class="btn btn-primary" ng-show="!packet.uploading && !packet.uploaded" ng-click="upload(packet)"><i
                                class="fa fa-upload"></i> <span data-i18n="submissions.upload_single">Upload This</span>
                        </button>
                        <div ng-if="packet.uploaded">
                            <i class="fa fa-check-circle-o"></i> <span data-i18n="uploaded">Uploaded!</span>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="reveal-all">
            <br><br>
            <hr>
            <a href="javascript:void(0);" ng-click="revealAll()">Show packets previously uploaded from this device.</a>
        </div>
    </div>

<script type="text/javascript" src="build/js/runtime.js?3b5e7ef8bda0d752e64b"></script><script type="text/javascript" src="build/js/submissions.js?3b5e7ef8bda0d752e64b"></script></body>
</html>