<!DOCTYPE html>
<html lang="en" class="no-js touch">
<head>
    <title>SSA</title>
    <!-- webpack scripts will go here -->
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" />
<link href="build/js/../css/survey.css?e67510fce65d442b55c6" rel="stylesheet"></head>
<body>
    <div class="main">
        <article class="paper">
            <!--
            This section is to be removed in application
        -->
            <header class="form-header" style="background-color:white">
                <div class="form-progress"></div>
                <div class="pull-right">
                    <button class="save-progress"><i class="fa fa-save"></i></button>
                    <button class="validate-form"><i class="fa fa-check"></i></button>
                    <button class="first-page-alias"><i class="fa fa-backward"></i></button>
                    <button class="last-page-alias"><i class="fa fa-forward"></i></button>
                    <button id="jump-to"><i class="fa fa-search"></i></button>
                    <button id="close-button"><i class="fa fa-remove"></i></button>
                </div>
                <div class="clearfix"></div>
            </header>

            <!-- The comment below is used in enketo-core-performance-monitor. -->
            <!-- {{<form>}} -->

            <section class="form-footer">
                <!--
            Used some quick-and-dirty inline CSS styles here because the form-footer should be styled in the
            mother application. The HTML markup can be changed as well.
            -->
                <a class="first-page" style="display:none"></a>
                <a class="last-page" style="display:none"></a>
                <button class="btn btn-primary submit-form" style="width:200px; margin-left: calc(50% - 100px);"
                    data-i18n="survey.submit">Validate &amp; Submit
                </button>
                <div class="enketo-power" style="margin-bottom: 30px;">&nbsp;</div>
                <div class="form-footer__jump-nav" style="display: flex; flex-direction: row;">
                    <a href="#" class="btn btn-default disabled previous-page" style="flex: 1; border-radius: 0;"
                        data-i18n="survey.back">Back</a>
                    <a href="#" class="btn btn-default disabled next-page" style="flex: 1; border-radius: 0;" data-i18n="survey.next">Next</a>
                </div>
            </section>

        </article>
    </div>

    <div id="jump-to-block" ng-controller="jumpCtrl" class="overlay">
        <div class="wrapper">
            <div id="jump-to-header">
                <h3 data-i18n="survey.jump_to">Jump To</h3>
                <a role="button" id="jump-to-close"><i class="fa fa-close"></i> Close</a>
            </div>

            <div id="jump-to-body">

                <div style="height:80%;overflow-x:hidden;overflow-y:auto;">
                    <v-accordion class="vAccordion--default" control="accordion">
                        <v-pane ng-repeat="(id, page) in pages track by $index">
                            <v-pane-header>
                                {{ page.label }}
                            </v-pane-header>
                            <v-pane-content>
                                <a href="javascript:void(0);" ng-click="jump(page)"><span data-i18n="survey.jump"></span>
                                    {{ page.label }}</a>
                                <div ng-if="page.items">
                                    <ng-include src="'accordion.html'" />
                                </div>
                            </v-pane-content>
                        </v-pane>
                    </v-accordion>
                </div>
            </div>
        </div>
    </div>
    <div id="loading-block" class="overlay">
        <h3 data-i18n="survey.loading"></h3>
        <p data-i18n="survey.wait"></p>
    </div>

    <div id="submit-progress" class="overlay">
        <i class="fa fa-circle-o-notch fa-spin fa-3x"></i>
        <h5 id="submit-progress-text">Saving...</h5>
    </div>

    <div id="sessionModal" ng-controller="Controller" ng-cloak="true">
        <div class="modal-mask" ng-if="show">
            <div class="modal-container" id="surveyModal">
                <div class="modal-header">
                    <div class="pull-right">
                        <a href="index.html"><i class="fa fa-remove"></i></a>
                    </div>
                    <h3 data-i18n="session.title">Survey Session</h3>
                </div>

                <div class="modal-body">

                    <p><b data-i18n="session.description">Start a New Session</b></p>
                    <label data-i18n="session.name">Name</label>
                    <input type="text" ng-model="form.name" style="width:100%;" />
                    <p id="session-modal__error"></p>
                    <button class="md-button" ng-click="createSession()" ng-disabled="disableCreateButton" data-i18n="session.start">Start</button>
                    <hr />

                    <ul class="previous-sessions">
                        <li ng-repeat="session in sessions">
                            <div class="pull-right">
                                <button class="sm-button action--delete_session" ng-click="delete(session)">
                                    <i class="fa fa-trash"></i>
                                </button>
                                <button class="sm-button action--load_session" ng-click="select(session)">
                                    <i class="fa fa-arrow-circle-right"></i>
                                </button>
                            </div>
                            <a role="button" class="action--load_session" ng-click="select(session)">
                                <div class="session-name">
                                    {{ session.name }}
                                </div>
                                <div class="session-updated">
                                    {{ session.last_update | timeAgo }}
                                </div>
                            </a>
                            <div class="clearfix"></div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
<script type="text/javascript" src="build/js/runtime.js?e67510fce65d442b55c6"></script><script type="text/javascript" src="build/js/vendors.js?e67510fce65d442b55c6"></script><script type="text/javascript" src="build/js/polyfill.js?e67510fce65d442b55c6"></script><script type="text/javascript" src="build/js/survey.js?e67510fce65d442b55c6"></script></body>
</html>